@page "/about/socialsupport"

<body>
    <div class="container my-5">

        <p class="GL-Title" style="margin-top: 50px">ПРИКАЗЫ</p>

        @if (_redirect)
        {
            <a href="@_redirectPath" target="_blank" id="fileLink"></a>
        }
        
        <div class="ScholarshipAmounts">
            <div class="ScholarshipAmount" @onclick="@(() => RedirectToFile("/docspod/0897.pdf"))">
                <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                <p> № 0897-Об утверждении размера стипендий</p>
            </div>

            <div class="ScholarshipAmount" @onclick="@(() => RedirectToFile("/docspod/0769.pdf"))">
                <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                <p> №0769-О создании рабочей комиссии по вопросам сирот</p>
            </div>

            <div class="ScholarshipAmount" @onclick="@(() => RedirectToFile("/docspod/0770.pdf"))">
                <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                <p> №0770-О создании стипендиальных комиссий</p>
            </div>

            <div class="ScholarshipAmount" @onclick="@(() => RedirectToFile("/docspod/0323.pdf"))">
                <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                <p> О введении в действие актуальной версии Положенияо стипендиальном обеспечении</p>
            </div>

            <div class="ScholarshipAmount" @onclick="@(() => RedirectToFile("/docspod/0781.pdf"))">
                <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                <p>Приказ о введении в действие Положения о порядке социального обеспечения детей-сирот и оставшихся без попечения родителей</p>
            </div>
        </div>

        <p class="GL-Title" style="margin-top: 50px">ПОЛОЖЕНИЯ</p>

        <div class="Provisions">
            <div class="Provision" @onclick="@(() => RedirectToFile("/docspod/положение с 1.06.21.pdf"))">
                <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                <p>Положение о стипендиальном обеспечении и других формах материальной поддержки обучающихся в КНИТУ-КАИ</p>

            </div>

            <div class="Provision" @onclick="@(() => RedirectToFile("/docspod/уч.совет 1.06.21.pdf"))">
                <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                <p>Положение о стипендиях Ученого совета университета и Ученого совета института (факультета, филиала) для обучающихся в КНИТУ-КАИ</p>
            </div>

            <div class="Provision" @onclick="@(() => RedirectToFile("/docspod/о введении в действие.pdf"))">
                <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                <p>Ведение в действие Положения о стипендиях Ученого Совета Университета и Ученого Совета института (факультета, филиалов)</p>
            </div>

            <div class="Provision" @onclick="@(() => RedirectToFile("/docspod/об оказании.pdf"))">
                <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                <p>Об оказании государственной социальной помощи, в том числе на основании социального контракта, в Республике Татарстан</p>
            </div>

            <div class="Provision" @onclick="@(() => RedirectToFile("/docspod/сироты.pdf"))">
                <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                <p>Положение о порядке социального обеспечения детей-сирот и оставшихся без попечения родителей</p>
            </div>

        </div>

        <p class="GL-Title" style="margin-top: 50px">МЕХАНИЗМ ПОЛУЧЕНИЯ СОЦИАЛЬНОЙ ПОМОЩИ ПРИ СОСТАВЛЕНИИ СОЦИАЛЬНОГО КОНТРАКТА</p>

        <div class="Provision" @onclick="@(() => RedirectToFile("/docspod/механизм.pdf"))">
            <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
            <p>Примерный алгоритм действий специалистов органов социальной защиты и отделений помощи семье и детям при составлениисоциального контракта</p>
        </div>

        <p class="GL-Title" style="margin-top: 50px">КОМПЛЕКСНЫЕ ПРОГРАММЫ</p>

        <div class="Provision" @onclick="@(() => RedirectToFile("/docspod/программа с детишками.pdf"))">
            <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
            <p>Комплексная программа поддержки обучающихся КНИТУ-КАИ, имеющих детей</p>
        </div>

        <p class="GL-Title" style="margin-top: 50px">ИМЕННЫЕ СТИПЕНДИИ</p>

        <div class="Provision" @onclick="@(() => RedirectToFile("/docspod/ИМЕННЫЕ И ГОССТИПЕНДИИ.pdf"))">
            <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
            <p>Именные стипендии для студентов</p>
        </div>

        <p class="GL-Title" style="margin-top: 50px">СОЦИАЛЬНАЯ ПОДДЕРЖКА</p>

        <div class="Social">

            <div class="Social1" @onclick="@(() => RedirectToFile("/docspod/соцподдержка.pdf"))">
                <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                <p>Социальная поддержка нуждающихся студентов</p>
            </div>

            <div class="Social1" @onclick="@(() => RedirectToFile("/docspod/соцподдержка2.pdf"))">
                <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                <p>Программа социальной поддержки студентов</p>
            </div>

        </div>

        <p class="GL-Title" style="margin-top: 50px">О МАТЕРИАЛЬНОЙ ПОМОЩИ </p>

        <div class="Mat">

            <div class="Mat1" @onclick="@(() => RedirectToFile("/docspod/zayavlenie.doc"))">
                <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                <p>Заявление на мат. помощь ректору КНИТУ-КАИ</p>
            </div>

            <div class="Mat1" @onclick="@(() => RedirectToFile("/docspod/lgoti.pdf"))">
                <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                <p>Социальные льготы и дополнительная поддержка</p>
            </div>

            <div class="Mat1" @onclick="@(() => RedirectToFile("/docspod/mnogodet.pdf"))">
                <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                <p>Многодетные семьи</p>
            </div>

            <div class="Mat1" @onclick="@(() => RedirectToFile("/docspod/imetdetei.pdf"))">
                <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                <p>О выплатах семьям, имеющим детей</p>
            </div>

            <div class="Mat1" @onclick="@(() => RedirectToFile("/docspod/ogranich.pdf"))">
                <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                <p>Студенты с ограниченными возможностями здоровья</p>
            </div>
        </div>

        <p class="GL-Title" style="margin-top: 50px">ФЕДЕРАЛЬНАЯ «ГОРЯЧАЯ ЛИНИЯ» ПРАВОВОЙ И СОЦИАЛЬНОЙ ЗАЩИТЫ СТУДЕНТОВ</p>

        <div class="ChiefBlock">
            <div class="ChiefColumnRight">
                <span class="Text">
                    Телефон: 8 (800) 222-55-71. Звонки принимаются по будним дням с 9:00 до 17:00.
                </span>
            </div>
        </div>
    </div>
</body>